@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Red Hat Display";
}

header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
header svg {
  transform: scale(0.8);
}
/* main */

.main {
  width: 100%;
  height: 358px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow-x: hidden;
}
/* left side */
.img__section-left {
  width: 600px;
  height: 100%;
  position: relative;
}
.img__section-left img,
.img__section-right img {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.img__section-left img:nth-child(1) {
  top: 80px;
  left: -30px;
}
.img__section-left img:nth-child(2) {
  top: 0;
  left: 40%;
}
.img__section-left img:nth-child(2) {
  top: 0;
  left: 40%;
}
.img__section-left img:nth-child(3) {
  top: 80px;
  right: 0;
}
.img__section-left img:nth-child(5) {
  bottom: 0;
  left: -30px;
}
.img__section-left img:nth-child(6) {
  bottom: 80px;
  left: 40%;
}
.img__section-left img:nth-child(7) {
  bottom: 0;
  right: 0;
}
/* main main */

.main__section {
  width: 540px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.main__section h1 {
  padding-top: 30px;
  color: #28283d;
  font-size: 64px;
  font-weight: 900;
  line-height: 64px; /* 100% */
}

.main__section p {
  /* width: 540px; */
  /* display: flex;
 margin: auto; */
  color: #87879d;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
.main__section .main__section-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.main__section .main__section-buttons button {
  height: 58px;
  border: none;
  cursor: pointer;
  border-radius: 29px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  transition: 0.3s ease-in-out;
}
.main__section .main__section-buttons button:hover {
  transform: scale(1.1);
}
.main__section .main__section-buttons button span {
  color: #8fe3f9;
  font-size: 16px;
  font-weight: 900;
}
.main__section .main__section-buttons .download {
  width: 193px;
  background: #4d96a9;
}
.main__section .main__section-buttons .question {
  width: 139px;
  background: #855fb1;
}

/* right side */
.img__section-right {
  width: 600px;
  height: 100%;
  position: relative;
}

.img__section-right img:nth-child(1) {
  top: 20px;
  left: 0px;
}
.img__section-right img:nth-child(2) {
  top: 80px;
  left: 40%;
}

.img__section-right img:nth-child(3) {
  top: 20px;
  right: -30px;
}
.img__section-right img:nth-child(5) {
  bottom: 80px;
  left: 0;
}
.img__section-right img:nth-child(6) {
  bottom: 0px;
  left: 40%;
}
.img__section-right img:nth-child(7) {
  bottom: 80px;
  right: -30px;
}

/* line section */
.line__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line__section .line {
  margin-top: 117px;
  width: 1px;
  height: 84px;
  background: #87879d;
}
.line__section .line__section-number {
  width: 56px;
  height: 56px;
  color: #87879d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #87879d;
  border-radius: 50%;

  font-size: 16px;
  font-weight: 900;
}
/* card section */

.card__section {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card__section .card__section-img img {
  height: 242px;
  width: 255px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
/* description */
.description {
  width: 540px;
  height: 240px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.description span {
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.description h4 {
  color: #28283d;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px; /* 110% */
}
.description p {
  color: #87879d;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

/* line section two */
.line__section-two {
  position: relative;
  bottom: -30px;
  z-index: 2;
}
.line__section-two .line__section-number {
  background: #fff;
}
/* footer */

footer {
  background: url("https://s3-alpha-sig.figma.com/img/10e2/acad/0c2deca845cc36afba1cf66a55d580d6?Expires=1704067200&Signature=c0frboYdtdnf3uJmvb2ovZF0-O1C6OfeyakaYYml7RNVfEV5Gbu1-du8bo9boSku5DXlfU6pYQp7pOTZXBr0ymoDkVRBVewJ8fyd84Ih32xwsus4N439Lm5PtIzTT6b~iefJraoJExCBgNFr06oBCwN9nh509hC-AzqHVFcpa8p0-wh~fF1LY6Z~Ibsn5xh6gBxQ5iiElgKXvBN1y8tOxfTPgZAFWOKg2oq~CqaBNieLBmaZ~mEcTbLe-BrLsHNYPLvMtbLC0JGoCKYJcPbaRsTUoGwKCJg9AJKiI92XdtyVc3wUyMZtdDqK0WekXO8GNYi7hWa8Q-0kf462dTPYBw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 408px;
  /* background-blend-mode: soft-light; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  position: relative;
  flex-wrap: wrap;
}
.footer-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4d97a9ad;
}
footer h3 {
  position: relative;
  z-index: 1;
  color: #fafafa;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px; /* 110% */
}
footer p {
  position: relative;
  z-index: 1;
  width: 350px;
  color: #fafafa;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
footer button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 193px;
  height: 58px;
  border-radius: 29px;
  background: #855fb1;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  border: none;
  transition: 0.3s ease-in-out;
}
footer button:hover {
  transform: scale(1.1);
}
footer button span {
  color: #d9b8ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}
/* media */

.responsive__main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 1024px) {
  .main__section h1 {
    font-size: 48px;
  }
  .main__section p {
    font-size: 16px;
  }
}
@media (max-width: 1170px) {
  footer {
    width: 100cw;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .main .main__section {
    display: none;
  }
  .main {
    width: 100%;
    justify-content: space-around;
  }

  .responsive__main {
    display: flex;
  }
  .responsive__main .main__section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .description {
    padding: 10px 40px;
    /* justify-content: center; */
  }
  .description h4 {
    font-size: 32px;
  }

  .description p {
    width: 50%;
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  footer h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
  }
  footer p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
  }
}
@media (max-width: 595px) {
  .main {
    height: 310px;
  
  }
  .main img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 540px) {
  .main {
    height: 340px;
  
  }
  .description {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 375px) {
  .main {
    height: 270px ;
  
  }
  .main img {
    width: 55.558px;
    height: 55.545px;
  }

  .card__section .card__section-img img {
    width: 151px;
    height: 143px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  footer {
    flex-wrap: wrap;
  }
  footer p {
    width: 100%;
  }
}
